[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HTML5APP
Exec=/usr/bin/single-instance /opt/HTML5APP/bin/HTML5APP
Icon=/usr/share/icons/hicolor/80x80/apps/HTML5APP80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
